@{
    ViewBag.Title = "Post";
}

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>It certainly wasn’t a typical year for, well, anything, including movies. As Hollywood packed up shop and pushed a lot of their projects to 2021 or streaming services, questions arose about how to critically assess such an unusual time for cinema. Some groups like the Academy pushed their awards back to make a longer window for inclusion while some writers lamented the lack of quality overall. They just weren’t looking hard enough. In the end, it was a very solid year for the form, and the lack of blockbusters only allowed for more room to assess the movies that might have otherwise gone under the radar. Let’s just say that it was not hard to come up with 20 films that we feel represented the quality of 2020. And great movies didn’t even make the cut. Every single one of the 20 films below will stand the test of time, remaining important works of art even after the din of this horrible year is behind us. Art endures.</p>

                <p>About the rankings: We asked our regular film critics and editors to submit top ten lists, ranked or unranked, and then consolidated them with a points system resulting in the list below, with a new entry for each awarded film. To read each critic's Top 10 individual list, click here.</p>

                <h2 class="section-heading">10. “The Assistant”</h2>

                <p>Kitty Green’s remarkable “The Assistant” is about #MeToo and Harvey Weinstein without explicitly being about those things. Instead, this quiet, day-in-the-life drama breaks down the many ways employees are forced to tolerate bad behavior. In the film, Jane (Julia Garner) is a hardworking everywoman who treks into the office each morning from Queens when it’s still dark out. But today, something is off. She finds an earring in her boss’ office. A woman she’s never seen before stops by to pick it up. A young woman from Idaho flies in for a job likes hers and the company puts her up at a fancy hotel. When her boss disappears, all her coworkers seem to know where he’s gone. When Jane finally works up the courage to report him to a HR representative (a chilling Matthew Macfadyen), he waves off her concerns and warns that her report could end her career. As Jane tearfully gets up to leave, he tells her not to worry: “You’re not his type.”</p>

                <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.</p>

                <h2 class="section-heading">9. “The Nest”</h2>

                <p>There are scenes in Sean Durkin’s marital drama “The Nest” that are so raw and real, so specific and vivid, you may feel the need to watch them through splayed fingers. As writer and director, he creates the sensation that you’ve wandered into an intimate space where you don’t belong, watching as a husband and wife tear each other apart with deep-seated resentments and hyperverbal jabs. It’s uncomfortable—but you can’t look away, because the dialogue is so riveting and the performances from Jude Law and Carrie Coon are so exquisite.</p>

                <p>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.</p>

                <blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</blockquote>

                <p>Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.</p>

                <h2 class="section-heading">Reaching for the Stars</h2>

                <p>As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man.</p>

                <a href="#">
                    <img class="img-fluid" src="img/post-sample-image.jpg" alt="">
                </a>
                <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>

                <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>

                <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore, and this is exploration at its greatest.</p>

                <p>
                    Placeholder text by
                    <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
                    <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.
                </p>
            </div>

        </div>
        <div class="align-items-lg-center">
            <form action="/html/tags/html_form_tag_action.cfm" method="post">
                <div>
                    <textarea class="input-group-text" name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
        Type Here!
        </textarea>
                </div>
                <input class="btn btn-success" type="submit" value="Submit">
            </form>
        </div>

        <div>
            <a href="post.html">
                <h2 class="post-title">
                    John Martin
                </h2>
            </a>
            <p class="post-meta">
                Commented:
                Nice Going
            </p>
        </div>

        <div>
            <a href="post.html">
                <h2 class="post-title">
                    Mary Smith
                </h2>
            </a>
            <p class="post-meta">
                Commented:
                Nice Post
            </p>
        </div>

    </div>


</article>
