@* Header to Used in the _Layout *@
@{
    ViewData["Image"] = "/img/contact.jpg";
}
@* Contact Information for the Bussiness *@
<div class="container">

    <h1 class="text-center">Get in Touch!</h1>
    <br />
    <address class="text-center">
        256 London Road<br />
        Edinburgh, EH12 1BH<br />
        <abbr title="Phone">+44</abbr>
        7844816797
    </address>

    <address class="text-center">
        <strong>Email: </strong>   <a href="mailto:Support@example.com">Support@localtheatrecompany.com</a><br />
    </address>

</div>

